<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servidor web Ansible</title>
</head>
<body>
    <h1>Servidor web desplegado con Ansible</h1>
    <p>Hostname: {{ inventory_hostname }}</p>
    <p>Servidor: {{ nginx_server_name }}</p>
</body>
</html>
